<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="LoadNORHSC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="LoadNorhsk.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="SNODASEntities8" connectionString="metadata=res://*/SNODASModel.csdl|res://*/SNODASModel.ssdl|res://*/SNODASModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=drought.usu.edu;Initial Catalog=SNODAS_HUC8;Persist Security Info=True;User ID=NIDIS;Password=N1d1s!;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="SNODASEntities10" connectionString="metadata=res://*/SNODASModel.csdl|res://*/SNODASModel.ssdl|res://*/SNODASModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=drought.usu.edu;Initial Catalog=SNODAS_HUC10;Persist Security Info=True;User ID=NIDIS;Password=N1d1s!;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="SNODASEntities12" connectionString="metadata=res://*/SNODASModel.csdl|res://*/SNODASModel.ssdl|res://*/SNODASModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=drought.usu.edu;Initial Catalog=SNODAS_HUC12;Persist Security Info=True;User ID=NIDIS;Password=N1d1s!;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <userSettings>
    <LoadNORHSC.Properties.Settings>
      <setting name="filePath" serializeAs="String">
        <value>C:\\DEV\\NIDIS</value>
      </setting>
    </LoadNORHSC.Properties.Settings>   
  </userSettings>
</configuration>