<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Logger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
  <add name="MQMEntities" connectionString="metadata=res://*/LoggerModel.csdl|res://*/LoggerModel.ssdl|res://*/LoggerModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local);Initial Catalog=MQM;Persist Security Info=True;User ID=MultQueue;Password=Mu1tQu3u3;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <userSettings>
    <Logger.Properties.Settings>
      <setting name="SendToEmail" serializeAs="String">
        <value>stephanie.reeder@usu.edu</value>
      </setting>
      <setting name="SendFromEmail" serializeAs="String">
        <value>stephanie.reeder@usu.edu</value>
      </setting>
      <setting name="CCEmail" serializeAs="String">
        <value />
      </setting>
      <setting name="FilePath" serializeAs="String">
        <value>C:\Users\Stephanie\Desktop\log</value>
      </setting>
    </Logger.Properties.Settings>
  </userSettings>
</configuration>