<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DataSummary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DataSummary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <userSettings>
    <DataSummary.Properties.Settings>
      <setting name="projectName" serializeAs="String">
        <value>DataSummary (from Wasser)</value>
      </setting>
    </DataSummary.Properties.Settings>
  </userSettings>
<connectionStrings>
  <add name="MQMEntities" connectionString="metadata=res://*/LoggerModel.csdl|res://*/LoggerModel.ssdl|res://*/LoggerModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local);Initial Catalog=MQM;Persist Security Info=True;User ID=MultQueu;Password=Mu1tQu3u3;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  <add name="SummaryEntities" connectionString="metadata=res://*/SummaryModel.csdl|res://*/SummaryModel.ssdl|res://*/SummaryModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=drought.uwrl.usu.edu;Initial Catalog=Summary;User ID=NIDIS;Password=N1d1s!&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
  <applicationSettings>
    <DataSummary.Properties.Settings>
      <setting name="DataSummary_USGSService_WaterOneFlow" serializeAs="String">
        <value>http://river.sdsc.edu/wateroneflow/NWIS/DailyValues.asmx</value>;
      </setting>
      <setting name="DataSummary_SNOTELService_WaterOneFlow" serializeAs="String">
        <value>http://drought.uwrl.usu.edu/SNOTEL/cuahsi_1_1.asmx</value>
      </setting>
    </DataSummary.Properties.Settings>
  </applicationSettings>
</configuration>