<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="NCDC_Harvester.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="NCDCEntities" connectionString="metadata=res://*/NCDCDataModel.csdl|res://*/NCDCDataModel.ssdl|res://*/NCDCDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=drought.uwrl.usu.edu;Initial Catalog=NCDC;Persist Security Info=True;User ID=NIDIS;Password=N1d1s!;MultipleActiveResultSets=True&quot;"
      providerName="System.Data.EntityClient" />
    <add name="MQMEntities" connectionString="metadata=res://*/LoggerModel.csdl|res://*/LoggerModel.ssdl|res://*/LoggerModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=wasser.uwrl.usu.edu;Initial Catalog=MQM;Persist Security Info=True;User ID=MultQueue;Password=Mu1tQu3u3;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <userSettings>
    <NCDC_Harvester.Properties.Settings>
      <setting name="projectName" serializeAs="String">
        <value>NCDC Harvester (from Wasser)</value>
      </setting>
    </NCDC_Harvester.Properties.Settings>
  </userSettings>
</configuration>