<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="UpdateSnotel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings><add name="SNOTELEntities" connectionString="metadata=res://*/SnoTelDataModel.csdl|res://*/SnoTelDataModel.ssdl|res://*/SnoTelDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=drought.uwrl.usu.edu;Initial Catalog=SNOTELCatalog;Persist Security Info=True;User ID=NIDIS;Password=N1d1s!;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="MQMEntities" connectionString="metadata=res://*/LoggerModel.csdl|res://*/LoggerModel.ssdl|res://*/LoggerModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local);Initial Catalog=MQM;Persist Security Info=True;User ID=MultQueue;Password=Mu1tQu3u3;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <userSettings>
    <UpdateSnotel.Properties.Settings>
      <setting name="projectName" serializeAs="String">
        <value>SNOTELHarvester</value>
      </setting>
    </UpdateSnotel.Properties.Settings>
  </userSettings>
</configuration>